<section class="content-box" *ngIf="menu">
    <h2>Edit Menu</h2>
    <app-menu-form buttonText="Save Changes" 
        [currentName]="menu.name" 
        [currentImg]="menu.imgRelPath" 
        [currentDescription]="menu.description"
        [currentIngredients]="menu.ingredients" 
        [currentAllergens]="menu.allergens" 
        [currentPrice]="menu.price"
        (onSubmit)="onSubmit($event)"></app-menu-form>
</section>

<figure *ngIf="!menu">
    <img src="" alt="Loading">
    <figcaption>Loading...</figcaption>
</figure>