<h1 class="heading">Zoom the Menu, Taste the Dream:<br>Flavor's Just a Click away,<br>it'll Make You Scream!</h1>

<article *ngIf="menu">
    <h3>{{menu.name}}</h3>
    <figure>
      <img src="burger.jpg" alt="{{menu.name}}">
      <figcaption>Our mouthwatering {{menu.name}}</figcaption>
    </figure>
    <p class="description">A juicy beef patty topped with melted cheese, crispy bacon, fresh lettuce, and our secret sauce. Served with a side of golden fries.</p>
    <div class="details">
      <p><strong>Price:</strong> ${{menu.price}}</p>
      <p><strong>Ingredients:</strong> Beef patty, cheese, bacon, lettuce, secret sauce</p>
      <p><strong>Allergens:</strong> Contains dairy, gluten</p>
    </div>
    <a routerLink="/order">Want It</a>
    <a routerLink="/menu">Back</a>
  </article>
  
