<h1 class="heading">Zoom the Menu, Taste the Dream:<br>Flavor's Just a Click away,<br>it'll Make You Scream!</h1>

<article *ngIf="menu">
    <h3>{{menu.name}}</h3>
    <figure>
      <img [src]="foodImg" alt="{{menu.name}}" class="foodImg">
      <figcaption>{{menu.name}}</figcaption>
    </figure>
    <p class="description">{{menu.description}}</p>
    <div class="details">
      <p><strong>Price:</strong> ${{menu.price}}</p>
      <p><strong>Ingredients:</strong>{{menu.ingredients}} </p>
      <p><strong>Allergens:</strong> {{menu.allergens}}</p>
    </div>
    <a routerLink="/order">Want It</a>
    <a routerLink="/menu">Back</a>
  </article>
  
