<form (ngSubmit)="onClick()">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" required>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="description" required></textarea>
    </div>
    <div class="form-group">
        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients" [(ngModel)]="ingredients" required>
    </div>
    <div class="form-group">
        <label for="allergens">Allergens:</label>
        <input type="text" id="allergens" name="allergens" [(ngModel)]="allergens" required>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="price" required>
    </div>
    <div class="form-group">
        <label for="picture">Picture:</label>
        <input type="text" placeholder="E.g: example.jpg" id="picture" name="picture" [(ngModel)]="imgRelPath" required>
    </div>


    <button type="submit">{{buttonText}}</button>
</form>