<section class="content-box">
    <h2>Add New Product</h2>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="menu.name" required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="menu.description" required></textarea>
  </div>
  <div class="form-group">
    <label for="ingredients">Ingredients:</label>
    <input type="text" id="ingredients" name="ingredients" [(ngModel)]="ingredientsString" required>
  </div>
  <div class="form-group">
    <label for="allergens">Allergens:</label>
    <input type="text" id="allergens" name="allergens" [(ngModel)]="allergensString" required>
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" [(ngModel)]="menu.price" required>
  </div>
  <button type="submit">Add Product</button>
</form>

</section>