<h4>Royal Delights Await, <br>Claim Your Culinary Throne:<br> Add Your Name and Rule the Flavor Kingdom!</h4>
<!-- <h2>Enter the Flavor Kingdom, Wear Your Crown:<br> Add Your Name and Let Your Tastebuds Rule!</h2> -->
<!-- <h2>Embrace Your Regal Palate, Crown Your Order:<br> Add Your Name and Rule the Feast!</h2> -->
<!-- <h2>Crown Your Order, Reign with Flavor:<br> Claim Your Throne by Adding Your Name!</h2> -->
<!-- <h2>Indulge Your Taste, and Leave Your Delicious Mark: <br>Add Your Name Before Placing Your Order!</h2> -->

<form (ngSubmit)="submitCustomerName()">
  <label for="customerName">Royal Name:</label>
  <input type="text" id="customerName" name="customerName" [(ngModel)]="customerName" required>
  <button type="submit">Submit</button>
  <button (click)="close()">Cancel</button>

</form>

