<h2>Menu Management</h2>

<router-outlet></router-outlet>
<div class="content-box" *ngFor="let menu of menus">
  <h3>{{ menu.name }}</h3>
  <p>{{ menu.description }}</p>
  <ul>
    <li *ngFor="let ingredient of menu.ingredients">{{ ingredient }}</li>
  </ul>
  <p>Allergens: {{ menu.allergens.join(', ') }}</p>
  <p>Price: ${{ menu.price }}</p>
  <div class="buttons-container">
    <a routerLink="/admin/menu/edit/{{menu.id}}">Edit</a>

    <button (click)="onDeleteClicked(menu.id)">Delete</button>
  </div>

</div>

