<h2>Menu Management</h2>
<a routerLink="/admin/menu/add-product">
  <button>Add New Product</button>
</a>
<router-outlet></router-outlet>
<div class="content-box" *ngFor="let menu of menus">
  <h3>{{ menu.name }}</h3>
  <p>{{ menu.description }}</p>
  <ul>
    <li>Ingredients: {{ menu.ingredients }}</li>
    <li>Allergens: {{ menu.allergens }}</li>
  </ul>
  <p>Price: £{{ menu.price }}</p>
  <div class="buttons-container">
    <a routerLink="/admin/menu/edit/{{menu.idmenu}}">Edit</a>

    <button (click)="onDeleteClicked(menu.idmenu)">Delete</button>
  </div>

</div>

